<div id="headerdiv" class="div-txt">
    <p id="p1">CNC هنر خلق کردن</p>
</div>
<div id="indb">
    <nav id="menu" class="div-txt">
        <img id="im" alt="img"
            src="image/Create a Logo Online _ Free Logo Maker & Generator _ TURBOLOGO and 7 more pages - Person 1 - Microsoft​ Edge 8_5_2024 1_37_07 PM (2).png">
        <button id="login">Login | Sing up</button>
        <ul>
            <li class="nav-li">
                <a href="#" class="nav-a">Models</a>
                <ul>
                    <li>
                        <a>CNC Wood</a>
                    </li>
                    <li>
                        <a>CNC Laser</a>
                    </li>
                    <li>
                        <a>3D Model</a>
                    </li>
                </ul>
            </li>
            <li class="nav-li">
                <a href="about-us.html" class="nav-a">About us</a>
            </li>
            <li class="nav-li">
                <a href="index.html" class="nav-a">Home</a>
            </li>
            <li class="nav-li">
                <a href="product.html" class="nav-a">Produts</a>
            </li>
            <li class="nav-li">
                <a href="#" class="nav-a">Support</a>
            </li>
        </ul>
    </nav>
</div>